* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header--nav--link,
.header--nav--link,
.header--nav--link,
.header--nav--link,
.header--nav--user--signup {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.header--nav--ul2--button a {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 23.15px; }

.main--hero--container--edge--home {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 49.03px;
  color: #FAFAFA; }
  @media (min-width: 901px) {
    .main--hero--container--edge--home {
      font-size: 48px;
      line-height: 65.37px; } }

.main--hero--container--edge--look {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.15px;
  color: #FAFAFA; }
  @media (min-width: 901px) {
    .main--hero--container--edge--look {
      font-size: 24px;
      line-height: 32.68px; } }

.mybutton1 {
  color: #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px; }

#budget, #location, #prototype {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

h5 {
  color: #008000;
  text-align: center;
  /* SUBTITLE BOLD */
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

p {
  color: #101010;
  text-align: center;
  font-family: "Open Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.main--container--knowus--words--p0 {
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
  line-height: 49.03px;
  color: #FAFAFA;
  text-align: left; }

.main--container--knowus--words--p1,
.main--container--knowus--words--p2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 23px;
  color: #FAFAFA;
  text-align: left; }

.property--container--heading p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #008000; }

.newsletter--div1--title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #FAFAFA; }

.newsletter--div1--body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  color: #FAFAFA; }

.newsletter--div2--btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px; }

.signup--container--form--heading p {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  text-align: left; }

.signup--container--form--heading2 h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px; }

.login_link {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.15px; }

.signup--container--form--btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.15px; }

#firstname, #lastname, #email,
#telephone, #password, #confirmpassword {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 23.15px; }

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 23.15px; }

.signup--container--aside p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 49.03px; }

.login--main--form--div1--wel {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 23px;
  line-height: 32.68px; }

.login--main--form--div2--acc {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.25px; }

#label--email, #lable--pass {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 23.25px; }

.login--main--form--div3--btn-log {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.25px; }

.login--main--form--div3--forget {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 23.25px; }

.login--main--aside p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 49.03px; }

.main--section--para--1 {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  line-height: 49.03px; }

.main--section--para--2 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  line-height: 32.68px; }

.main--section--p {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 23.15px; }

.main--section--p span {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 23.15px; }

.main--section--btn {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 23.15px;
  color: #FAFAFA; }

.forget--main--heading--1,
.forget--main--heading--2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32.68px;
  color: #101010;
  text-align: left; }

#username_e {
  font-size: 17px;
  font-weight: 700;
  line-height: 23.15px;
  font-family: 'Open Sans', sans-serif; }

#username_or_email {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  color: #808080; }

.forget--main--footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.15px;
  text-align: center; }

.main--hero {
  image-rendering: crisp-edges;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 8px;
  /* top, right, bottom, left */
  gap: 10px; }
  @media (min-width: 551px) and (max-width: 900px) {
    .main--hero {
      padding: 40px 20px; } }
  @media (min-width: 901px) {
    .main--hero {
      padding: 60px 150px; } }
  .main--hero--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    /* top, right, bottom, left */
    gap: 20px;
    border-radius: 4px;
    background: rgba(188, 188, 188, 0.2);
    /* glassmorphism */
    backdrop-filter: blur(7.5px); }
    .main--hero--container--edge {
      text-align: center;
      align-items: center; }
      .main--hero--container--edge--home {
        text-align: center;
        padding: 20px; }
      .main--hero--container--edge--look {
        text-align: center; }
    .main--hero--container--form {
      max-width: 100%;
      justify-content: center;
      text-align: center;
      align-items: center; }
      .main--hero--container--form--1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 11px;
        flex-wrap: wrap;
        /* Ensures items wrap to next line if necessary */ }

.input-container {
  position: relative;
  display: flex;
  flex-direction: column; }

.input-container input {
  width: 300px;
  padding: 10px;
  height: 55px;
  padding-right: 30px;
  /* Make space for the icon */
  box-sizing: border-box; }

.input-container .fa-chevron-down {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  /* Change the color as needed */
  font-size: 30px; }

.mybutton1 {
  display: flex;
  height: 50px;
  width: 300px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #008000;
  background: linear-gradient(90.35deg, #034903 16.81%, #008000 80.55%);
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1); }

.main--work {
  display: flex;
  padding: var(--Numbers-Space-Space-8, 100px);
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: #FAFAFA; }
  @media (max-width: 550px) {
    .main--work {
      flex-direction: column; } }
  @media (min-width: 551px) and (max-width: 900px) {
    .main--work {
      flex-direction: column; } }
  .main--work--future, .main--work--save, .main--work--fit {
    display: flex;
    width: 380px;
    height: 386px;
    padding: var(--Numbers-Space-Space-5, 36px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Numbers-Width-Size-2, 8px);
    background: var(--Colors-bg-bg-light, #FAFAFA);
    box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1);
    margin: 10px; }
    .main--work--future img, .main--work--save img, .main--work--fit img {
      display: flex;
      width: 90px;
      height: 106px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-shrink: 0; }

.main--container--knowus {
  display: flex;
  flex-direction: column;
  padding: 32px;
  /* top, right, bottom, left */
  background: linear-gradient(180deg, #008000 0%, #052F05 100%); }
  @media (min-width: 901px) {
    .main--container--knowus {
      display: flex;
      flex-direction: row; } }
  .main--container--knowus--words {
    gap: 20px;
    padding: 40px 8px; }
    .main--container--knowus--words--p1 {
      margin-top: 20px; }
    .main--container--knowus--words--p2 {
      margin-top: 20px; }
  .main--container--knowus--image {
    padding: 20px 8px; }
    @media (max-width: 550px) {
      .main--container--knowus--image img {
        width: 300px;
        height: 270px;
        align-items: center;
        justify-content: center; } }
    @media (min-width: 551px) and (max-width: 900px) {
      .main--container--knowus--image img {
        width: 400px;
        height: 300px;
        align-items: center;
        justify-content: center; } }
    @media (min-width: 901px) {
      .main--container--knowus--image img {
        width: 740px;
        height: 500px; } }

.property--container {
  display: flex;
  padding: 32px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  background: #FAFAFA; }
  @media (min-width: 901px) {
    .property--container {
      padding: 40px 60px;
      /* padding on all sides */
      gap: 16px; } }
  .property--container--images {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 10px; }
    @media (max-width: 550px) {
      .property--container--images {
        flex-direction: column; } }
    @media (min-width: 551px) and (max-width: 900px) {
      .property--container--images {
        flex-direction: column; } }
    .property--container--images div {
      border-radius: var(--Numbers-Width-Size-2, 8px);
      box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.1); }
    .property--container--images--1--heading {
      margin-right: 233px;
      padding-top: 10px; }
    .property--container--images--1--money {
      margin-left: 200px; }
    .property--container--images--1--img {
      width: 14px;
      height: 20px;
      margin-left: 17px; }
    .property--container--images--1--location {
      margin-right: 90px;
      margin-top: -26px; }
    .property--container--images--2--heading {
      margin-right: 233px;
      padding-top: 10px; }
    .property--container--images--2--money {
      margin-left: 200px; }
    .property--container--images--2--img {
      width: 14px;
      height: 20px; }
    .property--container--images--2--location {
      margin-right: 160px;
      margin-top: -20px; }

.newsletter {
  display: flex;
  flex-direction: column;
  padding: 36px 8px;
  background-color: #008000;
  gap: 30px; }
  .newsletter--div1 {
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
  .newsletter--div2 {
    gap: 24px;
    display: flex;
    flex-direction: column; }
    .newsletter--div2 input {
      width: 414px;
      /* Fill */
      height: 55px;
      /* Fixed */
      padding: 12px 20px;
      /* top, right, bottom, left */
      gap: 30px;
      border-radius: 4px;
      border: 1px solid transparent;
      /* Adjusted to be visible */
      border-width: 1px 0px 0px 0px; }
    .newsletter--div2--btn {
      width: 268px;
      /* Fixed */
      height: 39px;
      /* Fixed */
      padding: 0px;
      gap: 10px;
      border-radius: 8px;
      align-items: center;
      justify-items: center;
      text-align: center;
      margin-left: 60px;
      color: #008000;
      border: 1px solid transparent;
      margin-bottom: 20px; }

.header--nav {
  background: linear-gradient(90.35deg, #034903 16.81%, #008000 80.55%);
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center; }
  @media (min-width: 901px) {
    .header--nav {
      padding: 15px 25px; } }
  @media (min-width: 551px) and (max-width: 900px) {
    .header--nav {
      padding: 20px 25px; } }
  .header--nav--logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header--nav--logo--image_1 {
      width: 50px;
      height: 30px;
      flex-shrink: 0; }
      @media (min-width: 901px) {
        .header--nav--logo--image_1 {
          width: 70.408px;
          height: 69.828px;
          flex-shrink: 0; } }
      @media (min-width: 551px) and (max-width: 900px) {
        .header--nav--logo--image_1 {
          width: 55px;
          height: 40px; } }
    .header--nav--logo--image_2 {
      width: 40px;
      height: 19.42px;
      flex-shrink: 0; }
      @media (min-width: 901px) {
        .header--nav--logo--image_2 {
          width: 112.61px;
          height: 11.39px; } }
      @media (min-width: 551px) and (max-width: 900px) {
        .header--nav--logo--image_2 {
          width: 70px;
          height: 24px; } }
  .header--nav--ul {
    display: none; }
    @media (min-width: 901px) {
      .header--nav--ul {
        display: flex; }
        .header--nav--ul-list {
          display: flex;
          list-style: none;
          align-items: center;
          list-style-type: none; }
          .header--nav--ul-list li {
            list-style: none;
            text-decoration: none;
            padding: 0px 30px; }
            .header--nav--ul-list li a {
              color: white;
              text-decoration: none; } }
  .header--nav--ul2 {
    display: none; }
    @media (min-width: 901px) {
      .header--nav--ul2 {
        display: flex; }
        .header--nav--ul2 ul {
          display: flex;
          list-style: none;
          padding: 0px 20px;
          align-items: center;
          list-style-type: none; }
          .header--nav--ul2 ul li {
            list-style: none;
            text-decoration: none;
            padding: 0px; }
            .header--nav--ul2 ul li a {
              color: #FAFAFA;
              text-decoration: none; } }
    @media (min-width: 901px) {
      .header--nav--ul2--button {
        background-color: #FAFAFA;
        width: 140px;
        height: 50px;
        border: #008000; }
        .header--nav--ul2--button a {
          color: #008000;
          text-decoration: none; } }

.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000; }
  @media (min-width: 901px) {
    .hamburger-button {
      display: none; } }
  @media (min-width: 551px) and (max-width: 900px) {
    .hamburger-button {
      display: block; } }
  @media (max-width: 550px) {
    .hamburger-button {
      display: block; } }

.hamburger-button .hamburger-line {
  width: 30px;
  height: 3px;
  background: #FAFAFA;
  margin: 6px 0; }

/* mobile menu */
.mobile-menu {
  position: fixed;
  list-style-type: none;
  text-decoration: none;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 100;
  background: linear-gradient(180deg, #008000 16.81%, #034903 80.55%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  align-items: center;
  text-align: center;
  text-decoration: none; }
  @media (min-width: 901px) {
    .mobile-menu {
      display: none; } }

.mobile-menu.active {
  right: 0; }

.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
  text-decoration: none;
  list-style: none; }

.mobile-menu ul li {
  margin: 10px 0; }

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
  text-decoration: none;
  color: #FAFAFA; }

.mobile-menu ul button {
  background-color: #FAFAFA;
  width: 140px;
  height: 50px;
  border: #008000; }
  .mobile-menu ul button a {
    color: #008000;
    text-decoration: none; }

.signup--container {
  background: #FFF;
  width: 100%;
  gap: 8px;
  padding: 16px 0px; }
  @media (min-width: 901px) {
    .signup--container {
      display: flex;
      flex-direction: row;
      padding: 0px 0px; } }
  .signup--container--div {
    padding: 0px 12px;
    gap: 4px; }
    @media (min-width: 901px) {
      .signup--container--div {
        width: 50%;
        padding: 50px 80px; } }
  .signup--container--form {
    display: flex;
    flex-direction: column;
    padding: 28px 16px;
    border-radius: 8px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #808080;
    background: #F2F1E9;
    border: 1px solid #808080; }
    .signup--container--form--heading {
      gap: 8px;
      margin-top: 20px; }
      .signup--container--form--heading p {
        color: #101010; }
    .signup--container--form--heading2 {
      gap: 8px;
      margin-top: 20px; }
    .signup--container--form--list {
      margin-top: 10px; }
      .signup--container--form--list form {
        padding: 10px 0px; }
      .signup--container--form--list--name {
        padding: 10px 0px; }
  .signup--container--aside {
    gap: 20px;
    background-color: #E87C00;
    margin-top: 20px; }
    @media (min-width: 901px) {
      .signup--container--aside {
        width: 50%;
        margin-top: 0px; } }
    .signup--container--aside--logo {
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-top: 80px; }
    .signup--container--aside p {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 15px;
      padding: 0px 15px;
      color: #FAFAFA; }

.image--3 {
  width: 100%;
  height: 659px;
  flex-shrink: 0;
  mix-blend-mode: darken;
  margin-top: 10px;
  background: lightgray 50% / cover no-repeat; }

.login_link {
  text-decoration: none;
  color: #E87C00;
  margin-left: 10px; }
  .login_link:hover {
    color: #101010; }

#firstname, #lastname, #email,
#telephone, #password, #confirmpassword {
  margin-top: 6px;
  padding: 20px;
  width: 100%;
  margin-bottom: 15px; }

.signup--container--form--btn {
  width: 100%;
  background: linear-gradient(180deg, #008000 0%, #034903 100%);
  padding: 10px;
  margin-top: -10px;
  color: #FAFAFA; }

#option {
  margin-left: 20px;
  padding: 10px; }

.login--main {
  gap: 10px;
  width: 100%; }
  @media (min-width: 901px) {
    .login--main {
      display: flex;
      flex-direction: row;
      width: 100%; } }
  .login--main--form {
    padding: 40px 15px;
    gap: 12px; }
    @media (min-width: 901px) {
      .login--main--form {
        width: 50%;
        padding: 80px; } }
    .login--main--form--div1 {
      gap: 8px;
      text-align: lef; }
    .login--main--form--div2 {
      margin-top: 20px; }
      .login--main--form--div2 a {
        color: #E87C00;
        margin-left: 10px; }
        .login--main--form--div2 a p {
          margin-top: 20px; }
    .login--main--form--div3 {
      padding: 30px 0px; }
      .login--main--form--div3--btn-log {
        width: 100%;
        background: linear-gradient(180deg, #008000 0%, #034903 100%);
        padding: 15px 10px;
        color: #FAFAFA; }
      .login--main--form--div3--forget {
        text-decoration: none; }
        .login--main--form--div3--forget:hover {
          color: #E87C00; }
  .login--main--aside {
    padding: 24px 0px 0px 0px;
    /* top right bottom left */
    gap: 16px;
    background: #BCBCBC; }
    @media (min-width: 901px) {
      .login--main--aside {
        width: 50%; } }
    .login--main--aside--logo {
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-top: 80px; }
    .login--main--aside p {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 15px;
      padding: 0px 15px; }

.form-entry {
  padding: 28px 16px;
  border-radius: 8px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #808080;
  background: #F2F1E9;
  border: 1px solid #808080; }

.login--main--aside--img {
  width: 100%;
  height: 659px;
  flex-shrink: 0;
  margin-top: 20px; }

.forget {
  margin-top: 30px; }

.change--password {
  background: #BCBCBC;
  width: 100%;
  height: 100vh; }
  .change--password--main {
    display: flex;
    padding: var(--Numbers-Space-Space-0, 0px);
    flex-shrink: 0; }
  .change--password--section {
    margin: 200px 400px;
    display: flex;
    flex-shrink: 0;
    height: 590px;
    border: 1px solid #808080;
    background: #FAFAFA;
    border-radius: 2px;
    width: 500px;
    flex-direction: column;
    padding: 0px;
    gap: 24px; }
    .change--password--section--para {
      gap: 2px; }
      .change--password--section--para--1 {
        margin-top: 20px;
        margin-left: -80px; }
      .change--password--section--para--2 {
        margin-left: -250px;
        margin-top: 10px; }
    .change--password--section--form {
      margin-left: 35px; }
      .change--password--section--form--current label {
        margin-top: 60px; }
      .change--password--section--form--btn {
        width: 430px;
        height: 45px;
        gap: 10px;
        border-radius: 8px;
        background: linear-gradient(to bottom, #008000 0%, #052F05 100%);
        box-shadow: 0px 1px 50px 0px #0000001A;
        margin-top: 20px; }
    .change--password--section--para {
      margin-top: 10px; }

button {
  border-radius: 8px; }

#currentpassword, #newpassword, #confrimpassword {
  margin-top: 5px;
  width: 430px;
  height: 55px;
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #808080;
  margin-bottom: 10px; }

.main {
  padding: 50% 10px;
  gap: 0px;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 901px) {
    .main {
      padding: 150px 30%;
      gap: 10px; } }
  .main--section {
    padding: 40px 20px;
    gap: 12px;
    border-radius: 5px;
    border-width: 1px 0px;
    border-style: solid;
    border: 1px solid  #808080;
    background: #F2F1E9; }
    @media (min-width: 901px) {
      .main--section {
        padding: 20px 12px 20px 12px;
        /* top right bottom left */
        gap: 12px;
        /* gap between child elements */
        width: 576px; } }
    .main--section--para {
      gap: 8px; }
      .main--section--para--1 {
        color: #101010;
        text-align: left; }
      .main--section--para--2 {
        color: #101010;
        text-align: left; }
    .main--section--p {
      color: #101010;
      text-align: left;
      margin-top: 20px; }
      .main--section--p span {
        color: #E87C00; }
    .main--section--form {
      margin-top: 30px; }
      .main--section--form form {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center; }
    .main--section--btn {
      width: 100%;
      height: 45px;
      padding: 8px 150px 8px 150px;
      gap: 10px;
      border-radius: 5px;
      margin-top: 30px;
      background: linear-gradient(180deg, #008000 0%, #052F05 100%);
      box-shadow: 0px 1px 50px 0px #0000001A; }

#input1, #input2, #input3, #input4, #input5 {
  width: 46px;
  height: 55px;
  padding: 20px; }

.forget--body {
  background-color: #BCBCBC;
  padding: 200px 8px;
  gap: 0px;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 901px) {
    .forget--body {
      justify-content: center;
      align-items: center; } }
  @media (min-width: 551px) and (max-width: 900px) {
    .forget--body {
      justify-content: center;
      align-items: center; } }

.forget--main {
  padding: 30px 30px;
  gap: 12px;
  border-radius: 5px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #808080;
  background: var(--bg-pale-beige, #F2F1E9); }
  @media (min-width: 901px) {
    .forget--main {
      gap: 12px;
      display: flex;
      flex-direction: column; } }
  .forget--main--heading {
    gap: 8px; }
  .forget--main--form {
    gap: 12px; }
    .forget--main--form form {
      margin-top: 20px; }
    .forget--main--form--btn {
      width: 100%;
      background: linear-gradient(180deg, #008000 0%, #034903 100%);
      padding: 10px;
      margin-top: 10px;
      color: #FAFAFA;
      height: 45px; }
  .forget--main--footer {
    margin-top: 30px; }

#username_or_email {
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 4px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #808080;
  margin: 10px 0px;
  width: 100%;
  height: 55px; }
