.header--nav--link, 
.header--nav--link, 
.header--nav--link, 
.header--nav--link,
.header--nav--user--signup {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header--nav--ul2--button a {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 23.15px;
}
.main--hero--container--edge--home {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 49.03px;
    color: $white;
    @include desktop-screen {
        font-size: 48px;
        line-height: 65.37px;
    }
}
.main--hero--container--edge--look {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 23.15px;
    color: $white;
    @include desktop-screen {
        font-size: 24px;
        line-height: 32.68px;

    }
}
.mybutton1 {
    color: $white;
   font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;  
}

#budget, #location, #prototype {
    color: $gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h5 {
    color: $light-green;
    text-align: center;
    /* SUBTITLE BOLD */
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
p {
    color: $black;
    text-align: center;
    font-family: "Open Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main--container--knowus--words--p0 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 49.03px;
    color: $white;
    text-align: left;
}
.main--container--knowus--words--p1,
.main--container--knowus--words--p2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
    color: $white;
    text-align: left;

}

.property--container--heading p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: $light-green;
}
.newsletter--div1--title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: $white;

}
.newsletter--div1--body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: $white;
}
.newsletter--div2--btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
}
.signup--container--form--heading p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: left;
}
.signup--container--form--heading2 h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;
}
.login_link {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 23.15px;
    
}
.signup--container--form--btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.15px;
}
#firstname, #lastname, #email,
#telephone, #password, #confirmpassword {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23.15px;
}
label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23.15px;
}
.signup--container--aside p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.03px;

}
.login--main--form--div1--wel {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 32.68px;
}
.login--main--form--div2--acc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.25px;
}
#label--email, #lable--pass {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 23.25px;
}
.login--main--form--div3--btn-log {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.25px;
}
.login--main--form--div3--forget {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 23.25px;
}
.login--main--aside p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 49.03px;
}
.main--section--para--1 {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 49.03px;
}
.main--section--para--2 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 32.68px;
}
.main--section--p {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 23.15px;
}
.main--section--p span {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 23.15px;
}
.main--section--btn {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 23.15px;
    color: $white;
    
}
.forget--main--heading--1,
.forget--main--heading--2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    color: $black;
    text-align: left;
}
#username_e {
    font-size: 17px;
    font-weight: 700;
    line-height: 23.15px;
    font-family: 'Open Sans', sans-serif;
}
#username_or_email {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;
    color: #808080;
}
.forget--main--footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;
    text-align: center;
}
.change--password--section--para--1,
.change--password--section--para--2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.68px;
    text-align: left;
}
#newpassword, #confrimpassword{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 23.15px;
}
.change--password--section--para {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;
    text-align: left;
}
.inbox--section1--container--header p:first-of-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    line-height: 49.03px;
    text-align: left;
    color: $black;
}
.inbox--section1--container--header p:last-of-type {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 23.15px;
    text-align: left;
    color: $black;
}
.inbox--section1--container--btn button {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    line-height: 23.15px;

}
.inbox--section1--container--login p {
    color: $orange;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    line-height: 23.15px;
    text-align: left;

}
.inbox--aside p {
    font-size: 36px;
    font-family:  'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 49.03px;
    text-align: center;

}
.main--user--links--container a {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 29.15px;
    @include desktop-screen {
        font-size: 20px;
    }
}
.main--user--property--header p {
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 29.15px;
    text-align: left;
    @include desktop-screen {
        font-size: 20px;
    }
    
}
.main--user--property--header p:first-of-type {
    color: $orange;
}