@import "../abstracts/mixins";

.login--main {
    gap: 10px;
    width: 100%;
    @include desktop-screen {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &--form {
        padding: 40px 15px;
        gap: 12px;
        @include desktop-screen {
            width: 50%;
            padding: 80px;
        }
        &--div1 {
            gap: 8px;
            text-align: lef;
        }
        &--div2 {
            margin-top: 20px;
            & a {
                color: $orange;
                margin-left: 10px;
                & p {
                    margin-top: 20px;
                    
                }
            }
        }
        &--div3 {
            padding: 30px 0px;
            &--btn-log {
                width: 100%;
                background: linear-gradient(180deg, $light-green 0%, $dark-green 100%);
                padding: 15px 10px;
                color: $white;
            }
            &--forget {
                text-decoration: none;
                &:hover {
                    color: $orange;
                }
            }
        }
    }
    &--aside {
        padding: 24px 0px 0px 0px; /* top right bottom left */
        gap: 16px;
        background: #BCBCBC;
        @include desktop-screen {
            width: 50%;
        }
        &--logo {
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-top: 80px;
        }
        & p {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 15px;
            padding: 0px 15px;
            
        }
    }
}
.form-entry {
    padding: 28px 16px;
    border-radius: 8px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #808080;
    background: #F2F1E9; 
    border: 1px solid #808080;
}

.login--main--aside--img {
    width: 100%;
    height: 659px;
    flex-shrink: 0;
    margin-top: 20px;
}
.forget {
    margin-top: 30px;
}